p{
  font-family: Arial;
color: maroon;
}
      h1,h2 {
        font-family: Arial;
        color: gray;
      }
      h1 {
        border-bottom: 1px solid black;
      }
      body{
        font-family: Arial;
      }
html{
  font-size: 24px;
}
body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
  color: green;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
}